body {
    background: #000;
    display: grid;
    place-items: center; /* Centers the .container */
    height: 100vh; /* Ensures it takes full viewport height */
    margin: 0; /* Removes any default margin */
}

.container {
    background: #191919;
    display: grid;
    place-items: center;
    position: relative;
    height: 200px;
    width: 150px;
    border-radius: 10px;
    overflow: hidden;
}

.container::before {
    content: '';
    width: 70px;
    height: 300px;
    left: 10px;
    top: -70px;
    position: absolute;
    background: linear-gradient(#ff01ee, #77fc02);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container::after {
    content: '';
    position: absolute;
    background: #191919;
    inset: 3px;
    border-radius: 5px;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.65)), url('page.jpg') no-repeat center center; /* Adds a transparent overlay */
    background-size: cover; /* Ensure the image covers the entire container */
}

span {
    z-index: 1;
    color: #fff;
}
